.contain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  border-radius: 15px;
  background-color: #a1d2fa;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.form-group{
  margin-bottom: 20px;
}
form:first-child{
  margin-top: 30px;
}
.button-contain{
  margin-bottom: 30px;
}
label{
  font-size: 1.1em;
  margin-bottom: 5px;
}
